<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,3355},{1,1}}</string>
                <key>offset</key>
                <string>{-218.5,349.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>jg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,704},{526,700}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{526,700}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1542},{526,700}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{526,700}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2345},{526,700}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{526,700}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,2},{526,700}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{526,700}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jg_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,3355},{526,700}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{526,700}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jg_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3363},{526,700}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{526,700}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2684,1274},{318,628}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,72},{318,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jj_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2624,1976},{318,628}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,72},{318,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,2720},{318,628}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,72},{318,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2660,2},{318,628}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,72},{318,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2370,644},{318,628}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,72},{318,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>jj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2364,1346},{318,628}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,72},{318,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>la_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2784,2606},{280,628}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,72},{280,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>la_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2688,3350},{280,628}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,72},{280,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>la_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2980,2},{280,628}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,72},{280,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>la_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2972,632},{280,628}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,72},{280,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>la_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2690,632},{280,628}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,72},{280,628}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2322,2078},{300,640}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{300,640}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2162,2720},{300,640}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{300,640}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,2078},{300,640}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{300,640}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2358,2},{300,640}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{300,640}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2056,2},{300,640}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,60},{300,640}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3066,2532},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2970,3236},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3296,1772},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3262,2},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3254,632},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3004,1262},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>lc_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2944,1904},{290,626}}</string>
                <key>offset</key>
                <string>{-9,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,74},{290,626}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>me_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,674},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>me_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,1406},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>me_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2916},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>me_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2244},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>me_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,3719},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>me_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,3047},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>me_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{366,670}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{366,670}}</string>
                <key>sourceSize</key>
                <string>{438,700}</string>
            </dict>
            <key>sj_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2471},{344,771}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{344,771}}</string>
                <key>sourceSize</key>
                <string>{550,771}</string>
            </dict>
            <key>sj_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2542},{364,819}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{364,819}}</string>
                <key>sourceSize</key>
                <string>{550,819}</string>
            </dict>
            <key>sj_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1714},{360,807}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{360,807}}</string>
                <key>sourceSize</key>
                <string>{550,807}</string>
            </dict>
            <key>sj_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1674},{356,795}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{356,795}}</string>
                <key>sourceSize</key>
                <string>{550,795}</string>
            </dict>
            <key>sj_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,787},{336,753}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{336,753}}</string>
                <key>sourceSize</key>
                <string>{550,753}</string>
            </dict>
            <key>sj_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{352,790}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{352,790}}</string>
                <key>sourceSize</key>
                <string>{550,790}</string>
            </dict>
            <key>yy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{3236,2064},{464,588}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,112},{464,588}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>yy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3546,1182},{464,588}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,112},{464,588}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>yy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3554,592},{464,588}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,112},{464,588}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>yy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3554,2},{464,588}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,112},{464,588}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>yy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2098,3588},{464,588}}</string>
                <key>offset</key>
                <string>{-40,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,112},{464,588}}</string>
                <key>sourceSize</key>
                <string>{550,700}</string>
            </dict>
            <key>zx_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{364,783}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,6},{364,783}}</string>
                <key>sourceSize</key>
                <string>{550,789}</string>
            </dict>
            <key>zx_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1714},{386,826}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,8},{386,826}}</string>
                <key>sourceSize</key>
                <string>{550,834}</string>
            </dict>
            <key>zx_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2542},{408,811}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,6},{408,811}}</string>
                <key>sourceSize</key>
                <string>{550,817}</string>
            </dict>
            <key>zx_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,872}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,6},{436,872}}</string>
                <key>sourceSize</key>
                <string>{550,878}</string>
            </dict>
            <key>zx_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,3244},{366,762}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{366,762}}</string>
                <key>sourceSize</key>
                <string>{550,762}</string>
            </dict>
            <key>zx_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,794},{368,788}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,6},{368,788}}</string>
                <key>sourceSize</key>
                <string>{550,794}</string>
            </dict>
            <key>zx_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1584},{356,759}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,6},{356,759}}</string>
                <key>sourceSize</key>
                <string>{550,765}</string>
            </dict>
            <key>zx_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,876},{372,796}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{372,796}}</string>
                <key>sourceSize</key>
                <string>{550,796}</string>
            </dict>
            <key>zx_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{388,836}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{388,836}}</string>
                <key>sourceSize</key>
                <string>{550,836}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vdrawing.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c092a2fa38497cbb504e9def0fd723a:b0f8e74c0a9677feaddbd5b768cb807b:3c09cbc62d002e40636e05f933385645$</string>
            <key>textureFileName</key>
            <string>vdrawing.png</string>
        </dict>
    </dict>
</plist>
